@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import './lib/variables';
@import './components/header';
@import './components/home';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.75rem;
}
html {
  scroll-behavior: smooth;
}
body {
  background: $darkBlue;
}
a {
  text-decoration: none;
  color: white;
}
main {
  padding: 2rem;
  section {
    min-height: 100vh;
    background: $darkBlue;
    color: white;
    padding-top: 4rem;
    h1 {
      font-size: 2.3rem;
    }
  }
}
#blockchain, #proof-of-work, #smart-contracts,
#problems, #proof-of-stake, #summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-item {
  width: 50%;
  div {
    width: 70%;
    margin-bottom: 8rem;
    h2 {
      margin-bottom: 2rem;
    }
  }
}
