@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import './lib/variables';
@import './lib/mixins';
@import './components/card';
@import './components/header';
@import './components/home';
@import './components/blockchain';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.75rem;
}
html {
  scroll-behavior: smooth;
}
body {
  background: $darkBlue;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  span {
    color: $orange;
  }
  i {
    margin-right: 1rem;
    color: $orange;
  }
  @include for-tablet-portrait-up {
    font-size: 2.3rem;
  }
}
h2 {
  margin: 2rem 0;
  border-left: 2px solid $orange;
  padding-left: 1rem;
}
h3 {
  margin: 1rem 0;
}
p {
  span {
    color: $orange;
  }
}
main {
  padding: 2rem 1rem;
  @include for-tablet-portrait-up {
    padding: 2rem 5rem;
  }
  @include for-tablet-landscape-up {
    padding: 2rem 2rem;
  }
  @include for-desktop-up {
    padding: 2rem 7rem;
  }
  @include for-big-desktop-up {
    padding: 2rem 18rem;
  }
  section {
    min-height: 100vh;
    background: $darkBlue;
    color: white;
    padding-top: 4rem;
  }
}
.grid-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
  }
  @include for-desktop-up {
    grid-row-gap: 5rem;
    grid-column-gap: 5rem;
  }
  @include for-desktop-up {
    grid-column-gap: 10rem;
    grid-row-gap: 8rem;
  }
}
.margin-container {
  margin: 2rem 0;
  @include for-tablet-landscape-up {
    margin: 5rem 0;
  }
  @include for-desktop-up {
    margin: 8rem 0;
  }
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-item {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
